@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
  --color-default:#297582;
  --color-second:#277699;
  --color-white:#fff;
  --color-body:#E9F8FF;
  --color-light:#e0e0e0;
  --color-orange:#FFD9CE;
  --dark-body: #4d4c5a;
  --dark-main: #141529;
  --dark-second: #79788c;
  --dark-hover: #323048;
  --dark-text: #f8fbff;
  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #edf0f5;
  --light-text: #151426;
  --blue: #007497;
  --white: #fff;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
  --bg-body: var(--light-body);
  --bg-main: var(--light-main);
  --bg-second: var(--light-second);
  --color-hover: var(--light-hover);
  --color-txt: var(--light-text);
  display: flex;
  place-items: center;
  font-family: var(--font-family);
  background-color: var(--bg-body);
}
/*pwedeng ilipat nalang to sa kahit saang style na pang class list*/

.remark-btn{
	background: var(--color-default);;
	color: white;
	border: none;
    border-radius: 10px;
	padding: 5px 10px;
	cursor: pointer;
}