@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
  --color-default:#297582;
  --color-second:#277699;
  --color-white:#fff;
  --color-body:#E9F8FF;
  --color-light:#e0e0e0;
  --color-orange:#FFD9CE;
  --dark-body: #4d4c5a;
  --dark-main: #141529;
  --dark-second: #79788c;
  --dark-hover: #323048;
  --dark-text: #f8fbff;
  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #edf0f5;
  --light-text: #151426;
  --blue: #007497;
  --white: #fff;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
  --bg-body: var(--light-body);
  --bg-main: var(--light-main);
  --bg-second: var(--light-second);
  --color-hover: var(--light-hover);
  --color-txt: var(--light-text);
  display: flex;
  place-items: center;
  font-family: var(--font-family);
  background-color: var(--bg-body);
}

.sidebar{
  min-height: 100vh;
  width: 78px;
  padding: 6px 14px;
  z-index: 99;
  background-color: var(--color-default);
  transition: all .5s ease;
  position: fixed;
  top:0;
  left: 0;
}

.sidebar.open{
  width: 250px;
}

.sidebar .logo_details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo_details img{
  position: fixed;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 60px;
  overflow: hidden;
  transition: all .5s ease;
}
.sidebar .logo_details img::after{
  display: none;
}

.sidebar .logo_details .icon{
  opacity: 0;
  transition: all 0.5s ease ;
}

.sidebar .logo_details .logo_name{
  color:var(--color-orange);
  font-size: 22px;
  font-weight: 600;
  opacity: 0;
  transition: all .5s ease;
}

.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name{
  opacity: 1;
}

.sidebar .logo_details #btn{
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all .5s ease;
}

.sidebar.open .logo_details #btn{
  text-align: right;
}

.website-logo{
  width: 50px;
  display: flex;
  align-items: center;
  position: relative;
  transition: all .5s ease;
}

.sidebar.open .website-logo{
  width: 200px;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: -95px;
  transition: all .5s ease;
}

.sidebar i{
  color:var(--color-white);
  height: 60px;
  line-height: 60px;
  min-width: 50px;
  font-size: 25px;
  text-align: center;
}

.sidebar .nav-list{
  margin-top: 50px;
  height: 100%;
}

.sidebar li{
  position: relative;
  margin:8px 0;
  list-style: none;
}
.sidebar .nav-list li a.active{
  color: #fff;
  background: #297582;
  font-weight: bold;
}
.sidebar li .tooltip{
  position: absolute;
  top:-20px;
  left:calc(100% + 15px);
  z-index: 3;
  background-color: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}

.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top:50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip{
  display: none;
}

.sidebar input{
  font-size: 15px;
  color: var(--color-white);
  font-weight: 400;
  outline: none;
  height: 35px;
  width: 35px;
  border:none;
  border-radius: 5px;
  background-color: var(--color-second);
  transition: all .5s ease;
}

.sidebar input::placeholder{
  color:var(--color-light)
}

.sidebar.open input{
  width: 100%;
  padding: 0 20px 0 50px;
}

.sidebar .bx-search{
  position: absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  font-size: 22px;
  background-color: var(--color-second);
  color: var(--color-white);
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-default);
  position: relative;
  transition: all .5s ease;
  z-index: 12;
}

.sidebar li a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: var(--color-white);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  z-index: -2;
}

.sidebar li a:hover::after{
  transform: scaleX(1);
  color:var(--color-default)
}

.sidebar li a .link_name{
  color:var(--color-white);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.4s ease;
  pointer-events: none;
  opacity: 0;
}

.sidebar li a:hover .link_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color:var(--color-default)
}

.sidebar.open li a .link_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar li i{
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  border-radius: 5px;
}

.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom:-8px;
  padding:10px 14px;
  overflow: hidden;
  transition: all .5s ease;
}

.sidebar.open li.profile{
  width: 250px;
}

.sidebar .profile .profile_details{
  display: flex;
  align-items: center;
  flex-wrap:  nowrap;
}

.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .designation{
  font-size: 15px;
  font-weight: 400;
  color:var(--color-white);
  white-space: nowrap;
}

.sidebar li.profile .designation{
  font-size: 12px;
}

.sidebar.profile #log_out{
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--color-second);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open.profile #log_out{
  width: 50px;
  background: none;
}

/*  START HOME SECTION CSS */
.home-section{
    position: relative;
    background-color: var(--color-body);
    top:0;
    left:78px;
    width: calc(100% - 78px);
    transition: all .5s ease;
    z-index: 2;
}
/* styles.css */




/* General styling for the entire page */

.wrapper {
	max-width: 1100px;
	margin: 15px auto;
}

/* Calendar container */
.container-calendar {
	background: #ffffff;
	padding: 15px;
	max-width: 900px;
	margin: 0 auto;
	overflow: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
  border-radius: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column1 {
  float: left;
  width: 60%;
  padding: 10px;
}
.column2 {
  float: left;
  width: 40%;
  padding: 10px;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }
}

/* Event section styling */
#event-section {
	padding: 10px;
	background: #f5f5f5;
	margin: 20px 0;
	border: 1px solid #ccc;
}
#event-section2 {
	padding: 10px;
	background: #f5f5f5;
	margin: 20px 0;
}


.container-calendar #left h1 {
	color: var(--color-default);;
	text-align: center;
	background-color: #f2f2f2;
	margin: 0;
	padding: 10px 0;
}

#event-section h3 {
	color: var(--color-default);;
	font-size: 18px;
	margin: 0;
}

#event-section input[type="date"],
#event-section input[type="text"] {
	margin: 10px 0;
	padding: 5px;
	width: 100%;
  border: 1px solid var(--color-default);
  border-radius: 10px;
}
#event-section input[type="time"],
#event-section input[type="time"] {
	margin: 10px 0;
	padding: 5px;
	width: 100%;
  border: 1px solid var(--color-default);
  border-radius: 10px;
}
#event-section textarea {
	margin: 10px 0;
	padding: 5px;
	width: 100%;
  border: 1px solid var(--color-default);
  border-radius: 10px;
    
}
#event-section label {
  margin:0;
  padding: 0;
}

.eventbutton {
	background: var(--color-default);;
	color: white;
	border: none;
  border-radius: 10px;
	padding: 5px 10px;
	cursor: pointer;
}

.event-marker {
	position: relative;
}

.event-marker::after {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* event tooltip styling */
.event-tooltip {
	position: absolute;
	background-color: rgba(234, 232, 232, 0.763);
	color: black;
	padding: 10px;
	border-radius: 4px;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	transition: all 0.3s;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.event-marker:hover .event-tooltip {
	display: block;
}

/* Reminder section styling */
#reminder-section {
	background: #ffffff;
	padding: 15px;
	max-width: 900px;
	margin: 0 auto;
    margin-top: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    border-radius: 20px;
}

#reminder-section h3 {
	color: var(--color-default);;
	font-size: 18px;
	margin: 0;
}

#reminderList {
	list-style: none;
	padding: 0;
}

#reminderList li {
	margin: 5px 0;
	font-size: 16px;
}
#reminder-section button {
    background: var(--color-default);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 2px 5px;
    cursor: pointer;
    float: right;
    width: 80px;
    margin-right: 2px;
}
/* Style for the delete buttons */
.delete-event {
	background: rgb(237, 19, 19);
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	margin-left: 10px;
	align-items: right;
}

/* Buttons in the calendar */
.button-container-calendar button {
	cursor: pointer;
	background: var(--color-default);;
	color: #fff;
	border: 1px solid var(--color-default);;
	border-radius: 4px;
	padding: 5px 10px;
}

/* Calendar table */
.table-calendar {
	border-collapse: collapse;
	width: 100%;
}

.table-calendar td,
.table-calendar th {
	padding: 5px;
	border: 1px solid #e2e2e2;
	text-align: center;
	vertical-align: top;
}

/* Date picker */
.date-picker.selected {
	background-color: #f2f2f2;
	font-weight: bold;
	outline: 1px dashed #00BCD4;
}

.date-picker.selected span {
	border-bottom: 2px solid currentColor;
}

/* Day-specific styling */
.date-picker:nth-child(1) {
	color: red;
	/* Sunday */
}

.date-picker:nth-child(6) {
	color: var(--color-default);;
	/* Friday */
}

/* Hover effect for date cells */
.date-picker:hover {
	background-color: var(--color-default);;
	color: white;
	cursor: pointer;
}

/* Header for month and year */
#monthAndYear {
	text-align: center;
	margin-top: 0;
}

/* Navigation buttons */
.button-container-calendar {
	position: relative;
	margin-bottom: 1em;
	overflow: hidden;
	clear: both;
}

#previous {
	float: left;
}

#next {
	float: right;
}

/* Footer styling */
.footer-container-calendar {
	margin-top: 1em;
	border-top: 1px solid #dadada;
	padding: 10px 0;
}

.footer-container-calendar select {
	cursor: pointer;
	background: #ffffff;
	color: #585858;
	border: 1px solid #bfc5c5;
	border-radius: 3px;
	padding: 5px 1em;
}
