@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
  --color-default:#297582;
  --color-second:#277699;
  --color-white:#fff;
  --color-body:#E9F8FF;
  --color-light:#e0e0e0;
  --color-orange:#FFD9CE;
}


*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
}

.sidebar{
  min-height: 100vh;
  width: 78px;
  padding: 6px 14px;
  z-index: 99;
  background-color: var(--color-default);
  transition: all .5s ease;
  position: fixed;
  top:0;
  left: 0;
}

.sidebar.open{
  width: 250px;
}

.sidebar .logo_details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo_details img{
  position: fixed;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 60px;
  overflow: hidden;
  transition: all .5s ease;
}
.sidebar .logo_details img::after{
  display: none;
}

.sidebar .logo_details .icon{
  opacity: 0;
  transition: all 0.5s ease ;
}



.sidebar .logo_details .logo_name{
  color:var(--color-orange);
  font-size: 22px;
  font-weight: 600;
  opacity: 0;
  transition: all .5s ease;
}

.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name{
  opacity: 1;
}

.sidebar .logo_details #btn{
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all .5s ease;
}

.sidebar.open .logo_details #btn{
  text-align: right;
}

.sidebar i{
  color:var(--color-white);
  height: 60px;
  line-height: 60px;
  min-width: 50px;
  font-size: 25px;
  text-align: center;
}

.sidebar .nav-list{
  margin-top: 50px;
  height: 100%;
}

.sidebar li{
  position: relative;
  margin:8px 0;
  list-style: none;
}
.sidebar .nav-list li a.active{
  color: #fff;
  background: #297582;
  font-weight: bold;
}
.sidebar li .tooltip{
  position: absolute;
  top:-20px;
  left:calc(100% + 15px);
  z-index: 3;
  background-color: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}

.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top:50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip{
  display: none;
}

.sidebar input{
  font-size: 15px;
  color: var(--color-white);
  font-weight: 400;
  outline: none;
  height: 35px;
  width: 35px;
  border:none;
  border-radius: 5px;
  background-color: var(--color-second);
  transition: all .5s ease;
}

.sidebar input::placeholder{
  color:var(--color-light)
}

.sidebar.open input{
  width: 100%;
  padding: 0 20px 0 50px;
}

.sidebar .bx-search{
  position: absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  font-size: 22px;
  background-color: var(--color-second);
  color: var(--color-white);
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-default);
  position: relative;
  transition: all .5s ease;
  z-index: 12;
}

.sidebar li a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: var(--color-white);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  z-index: -2;
}

.sidebar li a:hover::after{
  transform: scaleX(1);
  color:var(--color-default)
}

.sidebar li a .link_name{
  color:var(--color-white);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.4s ease;
  pointer-events: none;
  opacity: 0;
}

.sidebar li a:hover .link_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color:var(--color-default)
}

.sidebar.open li a .link_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar li i{
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  border-radius: 5px;
}

.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom:-8px;
  padding:10px 14px;
  overflow: hidden;
  transition: all .5s ease;
}

.sidebar.open li.profile{
  width: 250px;
}

.sidebar .profile .profile_details{
  display: flex;
  align-items: center;
  flex-wrap:  nowrap;
}

.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .designation{
  font-size: 15px;
  font-weight: 400;
  color:var(--color-white);
  white-space: nowrap;
}

.sidebar li.profile .designation{
  font-size: 12px;
}

.sidebar .profile #log_out{
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--color-second);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}

/*  START HOME SECTION CSS */
.home-section{
  position: relative;
  background-color: var(--color-body);
  min-height: 100vh;
  top:0;
  left:78px;
  width: calc(100% - 78px);
  transition: all .5s ease;
  z-index: 2;
  padding: 20px;
}

.home-section .text{
  display: inline-block;
  color:var(--color-default);
  font-size: 25px;
  font-weight: 500;
  /* margin: 18px; */
}

.sidebar.open ~ .home-section{
  left:250px;
  width: calc(100% - 250px);
}
.home-section .container h1{
  margin-left: 15px;
}
/* 
.grid {
  display: grid;
  grid-gap: 40px;
  margin: 30px;
}
.grid .container{
  font-size: 25px;
  padding: .5em;
  background: #297582;
  color: #e0e0e0;
  width: 100%;
  border-radius: 10px;
}

.grid .container h2{
  font-weight: bolder;
}
.grid .container p{
  font-size: 20px;
  padding-left: 10px;
}
.grid .container2{
  font-size: 25px;
  padding: .5em;
  background: #E9B384;
  color: #e0e0e0;
  width: 100%;
  border-radius: 10px;
}
.grid .container2 h3{
  font-weight: bolder;
  text-align: center;
}
.grid .container2 li{
  list-style: none;
  text-align: justify;
  margin-left: 20px;
  font-size: 20px;
}
.grid2 {
  display: grid;
  grid-gap: 40px;
  margin: 30px;
}
.grid2 .container3{
  font-size: 25px;
  padding: .5em;
  background: #297582;
  color: #e0e0e0;
  width: 100%;
  border-radius: 10px;
}
.grid2 .container3 h3{
  text-align: center;
}
.grid2 .container3 h4{
  text-align: center;
  font-size: 15px;
  font-weight: normal;
}
.grid2 .container3  table{
  margin: auto;
}
.grid2 .container3 .sched-data span{
  padding: 15px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
.grid2 .container3 .sched-data td{
  font-size: 14px;
  padding-right: 20px;
  padding-top: 5px;
  color: #fff;
  text-align: center;
}
.grid2 .container4{
  font-size: 25px;
  padding: .5em;
  background: #E9B384;
  color: #e0e0e0;
  width: 100%;
  border-radius: 10px;
}
.grid2 .container4 h3{
  text-align: center;
}
.grid2 .container4 p{
  text-align: justify;
  font-size: 17px;
  margin: 15px;
  margin-top: 10px;
}
.grid2 .container4 li{
  list-style: none;
  font-size: 20px;
}
.grid2 .container4 li i{
  color: #e0e0e0;
  margin-left: 20px;
  margin-top: 15px;
}
.auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
} */
/* END HOME SECTION CSS */

/* CLASS_LIST SECTION */
/* .class_list-section{
  position: relative;
  background-color: var(--color-body);
  min-height: 100vh;
  top:0;
  left:70px;
  width: calc(100% - 70px);
  transition: all .5s ease;
  z-index: 2;
}
.class_list-section .text{
  display: inline-block;
  color:var(--color-default);
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

.sidebar.open ~ .class_list-section{
  left:250px;
  width: calc(100% - 250px);
}
.grid {
  display: grid;
  grid-gap: 40px;
  margin: 30px;
}
.grid .container{
  width: 100%;
  margin: 10px;
  background: #297582;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.grid .container img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.grid .container h4{
  text-transform: uppercase;
}
.grid .container p{
  font-size: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.grid .container .performance header{
  color: #e0e0e0;
  font-weight: bold;
  font-size: medium;
}
.grid .container .performance input{
  display: none;
}
.grid .container .performance input + label{
  font-size: 40px;
  text-shadow: 1px 1px 0 whitesmoke;
  cursor: pointer;
  color: #E9B384;
}
.grid .container .performance input:checked + label ~ label{
  color: gainsboro;
}
.grid .container .performance label:active{
  transform: scale(0.8);
  transition: 0.3s ease;
}
.grid .container .stars i{
  color: #e6e6e6;
    font-size: 25px;
    cursor: pointer;
    transition: color 0.2s ease;
}
.grid .container .stars i:active{
  color: #E9B384;
}
.grid .container button{
  width: 100%;
  margin-top: 8px;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #A1CCD1;
  color: #e0e0e0;
}
.grid .container button:hover{
  background: #A1CCD1;
  color: #41444B;
  transition: 0.5s;
} */
/* CLASS_LIST SECTION ENDS */

/* PERFORMANCE TRACKER STARTS */

/*ADDED BY CHIENIE*/

/* Float TOPIC WORKSHEET AND ACTIVITIES columns side by side */
.exercises_pt {
  float: left;
  width: 33%;
  padding: 0 10px;
  text-decoration: none;
}

/* Remove extra left and right margins, 0 -5pxdue to padding */
.weekly_pt {
  margin:0 auto;
  text-align: center;
}

/* Clear floats after the columns(exercises_pt) */
.weekly_pt:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .exercises_pt {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the exercise container */
.weekly_container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin-top: 10px;
  border-radius: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
.exercises_container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  border: 1px solid #297582;
  border-radius: 30px;
}
.exercises_container a {
  text-decoration: none;
  color:#297582;
}
.exercises_container:hover{
  background: #A1CCD1;
  color: #41444B;
  transition: 0.5s;
}
.pt_btn_edit {
    width: 80px;
    height: 30px;
    margin-top: 15px;
    padding: 5px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #297582;
    margin-right: 20px;
    font-weight: 600;
}
.pt_btn_edit a {
    text-decoration: none;
    color: #383838;
}
.pt_btn_edit:hover{
  background: #2e7380;
  transition: 0.5s;
}
.pt_btn_edit a:hover{
    color: #E9F8FF;
}
.pt_btn_delete{
    width: 80px;
    height: 30px;
    margin-top: 15px;
    padding: 5px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #297582;
    margin-right: 20px;
    font-weight: 600;
}
.pt_btn_delete a {
    text-decoration: none;
    color: #383838;
}
.pt_btn_delete:hover{
  background: #cc1919;
  transition: 0.5s;
}
.pt_btn_delete a:hover{
    color: #E9F8FF;
}

.addweek_button{
  width: 50px;
  margin-top: 8px;
  padding: 7px;
  cursor: pointer;
  border-radius: 20px;
  background: transparent;
  font-size: xx-large;
  text-align: center;
}
.addweek_button a {
    text-decoration: none;
    color: #383838;
}
.addweek_button:hover{
  background: #A1CCD1;
  color: #41444B;
  transition: 0.5s;
}





/*MODAL*/
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100px;
  padding: 15px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
}
.addweek_label {
  margin-right: 20px;
}
/* Set a style for all buttons */
button {
  padding: 14px 20px;
  margin: 8px 0;
  margin-top: 8px;
  padding: 7px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
}
.upload_button {
  background-color: #277699;
  width: 100px;
  color:#E9F8FF;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: 100px;
  padding: 10px 18px;
  margin-top: 8px;
  padding: 7px;
  cursor: pointer;
  border-radius: 20px;
  background: transparent;
  border: 1px solid #297582;
}
.btn_save {
  width: 100px;
  padding: 10px 18px;
  margin-top: 8px;
  padding: 7px;
  cursor: pointer;
  border-radius: 20px;
  background: #297582;
  border: 1px solid #e0e0e0;
  color: #E9F8FF;
}

.addweek_container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.addweek_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 40px;
  text-align: center;
  justify-content: center;
}

/* Modal Content/Box */
 .addweek_modal_content {
  background-color: #f1f1f1;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #888;
  width: 70%; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin-top: 10px;
  border-radius: 20px;
} 
.form-control {
  margin-top: 10px 0;
  margin-bottom: 10px 0;
  background-color: #f1f1f1;
  text-align: center;
  justify-content: center;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 20px;
}
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #277699;
    padding: 10px 15px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: .2s ease-in-out;
    font-style: 'Poppins';
  }
  
  input[type=file]::file-selector-button:hover {
    background: #277699;
  }
/* The Close Button (x) */
.close {
  position: relative;
  right: 30px;
  top: 1px;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  float: right;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
  
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}